.hero{
    padding-top: 40px;
    position: absolute;
    width: 100%;
  background-color: gray;

    &__text{
        color: rgba(157, 164, 189, 0.60);
font-family: "Open Sans";
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

    }




}